* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
body {
	overflow: hidden;
	height: 100vh;
	background-color: #6b6d76;
}

li,
a {
	font-weight: 500;
	color: #edf0f1;
	text-decoration: none;
	font-family: "Oswald", sans-serif;
	text-align: left;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px 10%;
	background-color: #24252a;
}
.logo {
	cursor: pointer;
	border-radius: 50%;
	height: 50px;
	width: 100px;
	margin-right: auto;
}

.links {
	list-style: none;
}
.links li {
	display: inline-block;
	padding: 0 20px;
	margin-bottom: 3px;
	font-size: 24px;

}

.links li a {
	transition: all 0.3s ease 0s;
	color:white;
	text-decoration: none!important;

}
.links li a:hover {
	color: #0088a9;
}

.logout-btn {
	padding: 9px 20px;
	background-color: rgba(0, 136, 169, 1);
	text-align: center;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	font-size: 24px;
}

.logout-btn:hover {
	background-color: rgba(0, 136, 169, 0.8);
}
@media only screen and (max-height: 900px) {
	.links li {
		display: inline-block;
		padding: 0 15px;
		margin-bottom: 2px;
		font-size: 18px;

	}
	.logout-btn {
		padding: 9px 15px;
		background-color: rgba(0, 136, 169, 1);
		border-radius: 50px;
		font-size: 18px;
	}
}