.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:80%;
}
.container {
    padding: 1px 16px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40%;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}

.name-container, .email-container{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    margin-bottom:20px;
}
.name-label, .email-label{
    font-size: 20px;
    margin-right: 10px;
}
.name-input, .email-input{
    border-bottom:1px solid red;
    font-size: 20px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.update-btn{
    padding:10px;
    background-color: orangered;
    color:white;
    outline: none;
    border:none;
}
.cancel-btn{
    text-decoration: none;
    padding:10px;
    background-color: #80deea;
    color:black;
}
