<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/profile.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link th:href="@{/css/search_bar.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet" />
    <title>Profile</title>
</head>
<body>
<header>
    <a class="logo" href="/user/home"><img class="logo" th:src="@{/images/logo.png}" alt="logo" /></a>
    <form class="SearchBox" th:action="@{/recipe/searchRecipe}" method="post" th:object="${recipe}">
        <input type="text" class="SearchBox-input" th:field="${recipe.title}" placeholder="Search by Title..."/>

        <button class="SearchBox-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>

    </form>
    <nav>

        <ul class="links">
            <li><a href="/recipe/all">View Recipe</a></li>
            <li><a href="/user/view_profile">View Profile</a></li>
            <li><a href="/recipe/addRecipe">Create Recipe</a></li>
            <li><a href="/meal/addNewMeal">Plan a Meal</a></li>
            <li>
                <a href="/recipe/shoppingList">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <form class="button" method="post" th:action="@{/user/logout}"><button class="logout-btn">Log-Out</button></form>
</header>
    <div class="form-box">
        <h1>My Profile</h1>
        <form class="container" method="post" th:action="@{/user/update}" th:object="${user}">
            <div class="name-container">
                <label class="name-label" for="name">Name</label>
                <input type="text" class="name-input" id="name" th:value="${user.name}" th:field="*{name}"/>
            </div>

            <div class="email-container">
                <label class="email-label" for="email">Email</label>
                <input class="email-input" id="email" th:value="${user.username}" th:field="*{username}"/>
            </div>

            <div class="button-container">
                <button type="submit" class="update-btn">Update</button>
                <a href="/user/home" class="cancel-btn">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>