html,body{
    height: 100vh;
}
#postit {
    /*margin: 0 auto;*/
    margin-right: 70px;
    padding: 0 20px;
    width: 400px;
    font-family: 'Nothing You Could Do', Arial;
    font-size: 1.4em;
    border:1px #E8Ds47 solid;
    -moz-box-shadow:0px 0px 6px 1px #333333;
    -webkit-box-shadow:0px 0px 6px 1px #333333;
    box-shadow:0px 0px 6px 1px #333333;
    background: #fefdca;
    background: -moz-linear-gradient(top, #fefdca 0%, #f7f381 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefdca), color-stop(100%,#f7f381));
    background: -webkit-linear-gradient(top, #fefdca 0%,#f7f381 100%);
    background: -o-linear-gradient(top, #fefdca 0%,#f7f381 100%);
    background: -ms-linear-gradient(top, #fefdca 0%,#f7f381 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefdca', endColorstr='#f7f381',GradientType=0 );
    background: linear-gradient(top, #fefdca 0%,#f7f381 100%);
    /*image: url("push_pin.jpg");*/
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #FF0000;
    border-radius: 50%;
    display: inline-block;
    box-shadow:0px 0px 6px 1px #333333;
    margin-left:47%;
    margin-right:auto;
    margin-top: 10px;

}


#postit ol {
    margin: 12px;
}

#postit p {
    /*text-align: center;*/
}
.description, .title{
    margin: 5px;
    word-wrap: break-word;
}
#postit {
    transition: transform .2s;
    height: 35%;
}

#postit:hover {
    transform: scale(1.1);
    cursor: pointer;
}